CONFIG_PATH=config/user/config.yaml
USER_SYSTEM_HOST=0.0.0.0
USER_SYSTEM_PORT=8002
USER_SYSTEM_POSTGRES_DSN=postgresql://samlang:password@localhost:5432/samlang
USER_SYSTEM_REDIS_URL=redis://localhost:6379/0
